.main-header {
  display: flex;
  height: 55px;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 5px;
  background-color: rgba(3, 9, 16, 0.6);
  /* color: #030910; */
  position: fixed;

  color: #fff;
}

.form-group label {
  margin: 10px;
}
