.player-card {
  margin: auto;
  text-align: center;
  max-width: 100%;
}

.player-name input {
  border: none;
  border-bottom: 2px #a79768 solid;
  background-color: transparent;
  font-size: 20px;
  max-width: 50%;
  margin-bottom: 5px;
}

.player-champ-options {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
