body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin: 0; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Marcellus SC", serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #cdbe91;
}

.page-container {
  height: 100vh;
  width: 100vw;
}

.main {
  background-image: url("./assets/img/lol.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}

input,
option,
select {
  text-align: center;
  background-color: rgb(30, 35, 42);
}

.team {
  width: 35%;
  text-align: center;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 30px;
  color: rgb(255, 204, 105);
}
